:root {
  --white: #fff;
  --brand-base: #35383f;
  --brand-dark: #22252b;
  --brand-light: #f6f6f6;
  --brand-primary: #fe5f01;
  --barand-secondary: #f52428;
  --brand-blue-dark: #25272c;

  --brand-gradient: linear-gradient(
    35deg,
    var(--brand-primary) 10%,
    var(--barand-secondary) 93%,
    );
}

body {
  background-color: var(--brand-light);
}

